*{
  margin:0;
  padding: 0;
  border: 0;
}
body{
  background-color: #FAFAFA;
}


.layout-wrapper .container{
  padding-bottom: 5%;
}
/*-----Navigation-----*/
.navbar .container{
  padding-left: 10%;
  padding-right: 15%;
}

.navbar-default{
  background-image: none;
  background-color: #ffffff;
}
.navbar-header{
  padding-bottom: 10px;
}
.navbar-brand{
  width:200px;
}
.navbar-logo{
  padding-top: 3%;
  width: 70%;
}
.navbar-message{
  width:27px;
  padding-right: 5px;

}
.nav li{
  padding-top:10px;
  font-size: 16px;
}

/*-----Footer-----*/

footer{
  text-align: center;
  line-height: 20px;
  color: rgba(0, 0, 0, 0.9);
}
footer .navbar-default{
  background-color: #ffffff;
  border-top: solid 7px #00BCD4;
}
footer .navbar{
  padding-left: 15%;
  padding-right: 20%;
  padding-bottom: 5px;

}
footer .navbar-header{
  padding-top: 10px;
  padding-bottom: 0;
  padding-bottom: 0;
  font-size: 120%;
}
footer .btn-chat{
  color:  #ffffff;
  border-radius: 3px;
  padding: 1px 25px;
  margin-top: 7px;
  margin-bottom: 15px;
  background-color: #03A9F4;
}
footer .btn-chat:hover{
  background-color: #2196F3;
}
.btn-chat{
  font-size: 14px;
  color:  #ffffff;
  border-radius: 3px;
  padding: 1px 25px;
  margin-top: 5px;
  margin-bottom: 15px;
  background-color: #03A9F4;
}
.btn-chat:hover{
  background-color: #2196F3;
}


footer .navbar-right{
  margin: 0;
  padding: 0;
}
/*-----layout-----*/
.layout-wrapper{
  padding-top: 100px;
}
.img-profile{
  border-radius: 100%;
  width: 125px;
  height: 125px;
}
.profile-container{
  padding: 0 15%;
}
#profile-content-1{
  padding: 10px 0;
  text-align: center;
  width: 40%;
}
#profile-content-2{
  padding: 10px 0;
  font-size: 150%;
  text-align: left;
}
#parag-content{
  font-size: 70%;
}

.gallery-wrapper{
  color: rgba(0,0,0,0.9);
  padding-left: 10%;
  padding-right: 15%;
  clear: both;
  font-size: 140%;
  padding-top: 4%;

}
.img-gallery{
  width: 33.333333333%;
  float: left;
}
.photo-gallery{
  max-width:95%;
  height: 230px;
  border: solid 10px #ffffff;
  border-radius: 3px;
  box-shadow: 5px 5px 5px rgba(0,0,0,0.3);
  margin-bottom: 2%;
}
.gallery-container{

}

@media screen and (max-width: 990px) {
  .layout-wrapper .container{
    padding-bottom: 10%;
  }
  #profile-content-1{
    width: 100%;
  }
  .navbar .container{
    padding-left: 5%;
    padding-right: 10%;
  }
  .profile-container{
    padding: 0 5%;
  }
  #profile-content-2{
    text-align: center;
  }
  .gallery-wrapper{
    padding-left: 5%;
    padding-right: 5%;
  }
  .img-gallery{
    width: 100%;
    float: left;
  }
  .photo-gallery{
    width: 100%;
    height: 300px;
  }
  footer .navbar-header{
    font-size: 120%;
  }

}

@media screen and (max-width: 768px) {
  .layout-wrapper .container{
    padding-bottom: 20%;
  }
  #profile-content-1{
    width: 100%;
  }
  .navbar .container{
    padding-left: 10%;
    padding-right: 10%;
  }
  .profile-container{
    padding: 0 5%;
  }
  #profile-content-2{
    text-align: center;
  }
  .gallery-wrapper{
    padding-left: 10%;
    padding-right: 10%;
  }
  .photo-gallery{
    width: 100%;
  }
  .img-gallery{
    width: 100%;
    float: left;
  }
  footer .navbar-header{
    font-size: 120%;
  }
}

@media screen and (max-width: 480px) {
  .layout-wrapper .container{
    padding-bottom: 40%;
  }
  .navbar-brand{
    width:170px;
  }
  .navbar .container{
    padding-left: 5%;
    padding-right: 5%;
  }
  .profile-container{
    padding: 0 5%;
  }
  #profile-content-2{
    text-align: center;
  }
  #parag-content{
    font-size: 65%;
  }
  .gallery-wrapper{
    padding-left: 2%;
    padding-right: 2%;
  }
  .photo-gallery{
    height: 250px;
  }
  .img-gallery{
    width: 100%;
    float: left;
  }
  footer .navbar-header{
    font-size: 100%;
  }
}
